
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.parent{
    min-width: 1000px;
    height: 70vh;
    position: relative;
    margin: auto;
}
.slider{
    width: 100%;
    height: 100%;
    display: none;
}
.slider img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.slider p{
    color: black;
    padding: 10px;
    background-color: white;
    box-sizing: 0 4px 2px gray;
    font-size: 1.1em;
    position: absolute;
   top:0;
   padding: 20px;
}
@media only screen and (max-width: 600px) {
    .parent{
        position: relative;
       min-width: 350px;
    }
}
